<a href="https://colab.research.google.com/github/nomibold/Module_13_Challenge/blob/main/GC_venture_funding_with_deep_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [44]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [4]:
# Upload credit_card_transactions.csv to Colab
from google.colab import files

csv_file = files.upload()

Saving applicants_data.csv to applicants_data (2).csv

In [5]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("applicants_data.csv")

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [6]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [7]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=["EIN", "NAME"])

# Review the DataFrame
applicant_data_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [18]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [19]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [20]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [21]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns=enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
encoded_df

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [22]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([encoded_df, applicant_data_df.drop(columns=categorical_variables)], axis=1)

# Review the Dataframe
encoded_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,36500179,0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [23]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [26]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
X.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590

### Step 6: Split the features and target sets into training and testing datasets.

In [27]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [28]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [29]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [30]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [31]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features+number_output_neurons) // 2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [33]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = (hidden_nodes_layer1+number_output_neurons) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [34]:
# Create the Sequential model instance
nn = Sequential()

In [35]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [36]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [37]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_output_neurons, activation="sigmoid"))

In [38]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [39]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy",optimizer ="adam", metrics=["accuracy"])

In [40]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs =50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.5726 - accuracy: 0.7181
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5511 - accuracy: 0.7301
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5480 - accuracy: 0.7318
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5463 - accuracy: 0.7332
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7340
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7331
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7340
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7345
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7357
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7362
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7353
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7366
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7369
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7381
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7376
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7373
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5385 - accuracy: 0.7371
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7379
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7380
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7387
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7378
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7386
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7386
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7395
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7383
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5365 - accuracy: 0.7391
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7400
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7388
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7382
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.7397
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7402
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5346 - accuracy: 0.7398
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5346 - accuracy: 0.7403
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5344 - accuracy: 0.7392
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7401
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5341 - accuracy: 0.7401
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5339 - accuracy: 0.7400
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5337 - accuracy: 0.7403
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5335 - accuracy: 0.7402
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5335 - accuracy: 0.7402
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5331 - accuracy: 0.7405
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7411
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5328 - accuracy: 0.7405
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5327 - accuracy: 0.7407
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5328 - accuracy: 0.7411
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5323 - accuracy: 0.7407
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5323 - accuracy: 0.7413
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5319 - accuracy: 0.7403
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5325 - accuracy: 0.7414
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5323 - accuracy: 0.7407

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [41]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5514 - accuracy: 0.7306 - 907ms/epoch - 3ms/step
Loss: 0.5514358878135681, Accuracy: 0.7306122183799744

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [47]:
# Set the model's file path
file_path = ("Resources/AlphabetSoup.h5")

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [51]:
# Define the the number of inputs (features) to the model
number_input_features_A1 = len(X_train.iloc[0])

# Review the number of features
number_input_features_A1

116

In [52]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [53]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features_A1+number_output_neurons_A1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

58

In [54]:
# Define the number of hidden nodes for the first hidden layer
# Define the number of hidden nodes for the additional hidden layers
hidden_nodes_layer2_A1 = (hidden_nodes_layer1_A1+number_output_neurons_A1) // 2

# Review the number of hidden nodes in the additional layer
hidden_nodes_layer2_A1

29

In [55]:
# Define the number of hidden nodes for the additional hidden layers
hidden_nodes_layer3_A1 = (hidden_nodes_layer2_A1+number_output_neurons_A1) // 2

# Review the number of hidden nodes in the additional layer
hidden_nodes_layer3_A1

15

In [56]:
# Define the number of hidden nodes for the additional hidden layers
hidden_nodes_layer4_A1 = (hidden_nodes_layer3_A1+number_output_neurons_A1) // 2

# Review the number of hidden nodes in the additional layer
hidden_nodes_layer4_A1

8

In [84]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [85]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))
nn_A1.add(Dense(units=hidden_nodes_layer2_A1, activation="relu"))
nn_A1.add(Dense(units=hidden_nodes_layer3_A1, activation="relu"))
nn_A1.add(Dense(units=hidden_nodes_layer4_A1, activation="relu"))
nn_A1.add(Dense(units=hidden_nodes_layer5_A1, activation="relu"))

# Output layer
nn_A1.add(Dense(units=number_output_neurons, activation="sigmoid"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_14 (Dense)            (None, 58)                6786

 dense_15 (Dense)            (None, 29)                1711

 dense_16 (Dense)            (None, 15)                450

 dense_17 (Dense)            (None, 8)                 128

 dense_18 (Dense)            (None, 4)                 36

 dense_19 (Dense)            (None, 1)                 5

=================================================================
Total params: 9,116
Trainable params: 9,116
Non-trainable params: 0
_________________________________________________________________

In [86]:
# Compile the Sequential model
nn_A1.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [87]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5733 - accuracy: 0.7188
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5516 - accuracy: 0.7312
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5480 - accuracy: 0.7302
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7322
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7343
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7344
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7351
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7349
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7366
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7353
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7353
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7365
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7372
Epoch 14/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5393 - accuracy: 0.7358
Epoch 15/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5388 - accuracy: 0.7367
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7367
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7369
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7354
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7364
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7383
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7372
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7366
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7383
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7377
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7381
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7362
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7386
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7393
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7390
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7396
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7405
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7393
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7404
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7399
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7402
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7403
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7398
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7398
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7401
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7408
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7397
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7402
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7407
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7398
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7402
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7407
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5321 - accuracy: 0.7410
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7409
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5321 - accuracy: 0.7409
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5314 - accuracy: 0.7416

#### Alternative Model 2

In [88]:
# Define the the number of inputs (features) to the model
number_input_features_A2 = len(X_train.iloc[0])

# Review the number of features
number_input_features_A2

116

In [89]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [90]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (number_input_features_A2+number_output_neurons_A1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

58

In [91]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer2_A2 = (hidden_nodes_layer1_A2+number_output_neurons_A1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer2_A2

29

In [92]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [93]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu"))
nn_A2.add(Dense(units=hidden_nodes_layer2_A2, activation="relu"))

# Output layer
nn_A2.add(Dense(units=number_output_neurons, activation="linear"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_20 (Dense)            (None, 58)                6786

 dense_21 (Dense)            (None, 29)                1711

 dense_22 (Dense)            (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

In [94]:
# Compile the model
nn_A2.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [95]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 1.0390 - accuracy: 0.6922
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7858 - accuracy: 0.7168
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7656 - accuracy: 0.7207
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7524 - accuracy: 0.7211
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7325 - accuracy: 0.7257
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7062 - accuracy: 0.7236
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6904 - accuracy: 0.7254
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7422 - accuracy: 0.7248
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.7191 - accuracy: 0.7259
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6758 - accuracy: 0.7268
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6732 - accuracy: 0.7269
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6624 - accuracy: 0.7292
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6628 - accuracy: 0.7307
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6678 - accuracy: 0.7238
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6869 - accuracy: 0.7283
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6826 - accuracy: 0.7320
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6783 - accuracy: 0.7220
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6611 - accuracy: 0.7314
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6441 - accuracy: 0.7321
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6442 - accuracy: 0.7168
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6322 - accuracy: 0.7314
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6302 - accuracy: 0.7341
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6195 - accuracy: 0.7345
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6288 - accuracy: 0.7287
Epoch 25/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6197 - accuracy: 0.7326
Epoch 26/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6277 - accuracy: 0.7271
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6177 - accuracy: 0.7325
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6191 - accuracy: 0.7336
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6243 - accuracy: 0.7319
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6303 - accuracy: 0.7277
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6293 - accuracy: 0.7332
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6230 - accuracy: 0.7334
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6163 - accuracy: 0.7352
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6064 - accuracy: 0.7338
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6181 - accuracy: 0.7341
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6097 - accuracy: 0.7355
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6172 - accuracy: 0.7336
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6068 - accuracy: 0.7320
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6112 - accuracy: 0.7330
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6101 - accuracy: 0.7324
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6031 - accuracy: 0.7347
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6132 - accuracy: 0.7343
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6072 - accuracy: 0.7365
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6079 - accuracy: 0.7348
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5985 - accuracy: 0.7349
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6014 - accuracy: 0.7341
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6278 - accuracy: 0.7062
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6184 - accuracy: 0.7331
Epoch 49/100
804/804 [==============================] - 4s 5ms/step - loss: 0.6214 - accuracy: 0.7343
Epoch 50/100
804/804 [==============================] - 3s 4ms/step - loss: 0.6148 - accuracy: 0.7352
Epoch 51/100
804/804 [==============================] - 3s 4ms/step - loss: 0.6229 - accuracy: 0.7348
Epoch 52/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6196 - accuracy: 0.7330
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6119 - accuracy: 0.7329
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6002 - accuracy: 0.7299
Epoch 55/100
804/804 [==============================] - 3s 4ms/step - loss: 0.6049 - accuracy: 0.7319
Epoch 56/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5982 - accuracy: 0.7346
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6014 - accuracy: 0.7325
Epoch 58/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5986 - accuracy: 0.7355
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5922 - accuracy: 0.7352
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5972 - accuracy: 0.7320
Epoch 61/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6017 - accuracy: 0.7327
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5974 - accuracy: 0.7334
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5962 - accuracy: 0.7328
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5988 - accuracy: 0.7362
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5930 - accuracy: 0.7353
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5827 - accuracy: 0.7331
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6011 - accuracy: 0.7115
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5882 - accuracy: 0.7343
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5768 - accuracy: 0.7364
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5846 - accuracy: 0.7275
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5943 - accuracy: 0.7247
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5816 - accuracy: 0.7364
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5781 - accuracy: 0.7366
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5834 - accuracy: 0.7364
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5815 - accuracy: 0.7352
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5869 - accuracy: 0.7348
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5905 - accuracy: 0.7365
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5819 - accuracy: 0.7372
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5794 - accuracy: 0.7358
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5814 - accuracy: 0.7374
Epoch 81/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5920 - accuracy: 0.7387
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5986 - accuracy: 0.7265
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5969 - accuracy: 0.7311
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5865 - accuracy: 0.7311
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5817 - accuracy: 0.7363
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5832 - accuracy: 0.7366
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5850 - accuracy: 0.7362
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5969 - accuracy: 0.7390
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5917 - accuracy: 0.7360
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5941 - accuracy: 0.7365
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5867 - accuracy: 0.7377
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5790 - accuracy: 0.7376
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5819 - accuracy: 0.7382
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5809 - accuracy: 0.7375
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5938 - accuracy: 0.7372
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5930 - accuracy: 0.7365
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5885 - accuracy: 0.7371
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5873 - accuracy: 0.7384
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5850 - accuracy: 0.7381
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5900 - accuracy: 0.7378

In [73]:
# Alternative Model 3

In [74]:
# Define the the number of inputs (features) to the model
number_input_features_A3 = len(X_train.iloc[0])

# Review the number of features
number_input_features_A3

116

In [75]:
# Define the number of neurons in the output layer
number_output_neurons_A3 = 1

In [77]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A3 = (number_input_features_A3 + number_output_neurons_A3) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A3

58

In [78]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer2_A3 = (hidden_nodes_layer1_A3 + number_output_neurons_A3) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer2_A3

29

In [79]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer3_A3 = (hidden_nodes_layer2_A3 + number_output_neurons_A3) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer3_A3

15

In [80]:
# Create the Sequential model instance
nn_A3 = Sequential()

In [81]:
# First hidden layer
nn_A3.add(Dense(units=hidden_nodes_layer1_A3, input_dim=number_input_features, activation="LeakyReLU"))

# Output layer
nn_A3.add(Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_A3.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 58)                6786

 dense_13 (Dense)            (None, 1)                 59

=================================================================
Total params: 6,845
Trainable params: 6,845
Non-trainable params: 0
_________________________________________________________________

In [82]:
# Compile the model
nn_A3.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [83]:
# Fit the model
fit_model_A3 = nn_A3.fit(X_train_scaled, y_train, epochs=80)

Epoch 1/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5922 - accuracy: 0.7158
Epoch 2/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5651 - accuracy: 0.7257
Epoch 3/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5611 - accuracy: 0.7283
Epoch 4/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5574 - accuracy: 0.7275
Epoch 5/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5563 - accuracy: 0.7289
Epoch 6/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5539 - accuracy: 0.7296
Epoch 7/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5539 - accuracy: 0.7291
Epoch 8/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5525 - accuracy: 0.7299
Epoch 9/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5515 - accuracy: 0.7313
Epoch 10/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5511 - accuracy: 0.7303
Epoch 11/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5511 - accuracy: 0.7303
Epoch 12/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5505 - accuracy: 0.7315
Epoch 13/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5496 - accuracy: 0.7315
Epoch 14/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5489 - accuracy: 0.7317
Epoch 15/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5484 - accuracy: 0.7320
Epoch 16/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5478 - accuracy: 0.7321
Epoch 17/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5486 - accuracy: 0.7311
Epoch 18/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5476 - accuracy: 0.7310
Epoch 19/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5474 - accuracy: 0.7313
Epoch 20/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5473 - accuracy: 0.7312
Epoch 21/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5468 - accuracy: 0.7313
Epoch 22/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5466 - accuracy: 0.7317
Epoch 23/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7314
Epoch 24/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7331
Epoch 25/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5469 - accuracy: 0.7326
Epoch 26/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7328
Epoch 27/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7308
Epoch 28/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7331
Epoch 29/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5459 - accuracy: 0.7328
Epoch 30/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7324
Epoch 31/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7331
Epoch 32/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7331
Epoch 33/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7338
Epoch 34/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7324
Epoch 35/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7322
Epoch 36/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7325
Epoch 37/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7319
Epoch 38/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7329
Epoch 39/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7335
Epoch 40/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7339
Epoch 41/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7331
Epoch 42/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.7328
Epoch 43/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7332
Epoch 44/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7338
Epoch 45/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7326
Epoch 46/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7336
Epoch 47/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7338
Epoch 48/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7332
Epoch 49/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7343
Epoch 50/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7340
Epoch 51/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7342
Epoch 52/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7347
Epoch 53/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7325
Epoch 54/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7341
Epoch 55/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7353
Epoch 56/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7345
Epoch 57/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7346
Epoch 58/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7341
Epoch 59/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7345
Epoch 60/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5420 - accuracy: 0.7348
Epoch 61/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7341
Epoch 62/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7353
Epoch 63/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7362
Epoch 64/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7350
Epoch 65/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7365
Epoch 66/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7338
Epoch 67/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7352
Epoch 68/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7351
Epoch 69/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7349
Epoch 70/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7352
Epoch 71/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7360
Epoch 72/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7357
Epoch 73/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7348
Epoch 74/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7342
Epoch 75/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7351
Epoch 76/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7345
Epoch 77/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7356
Epoch 78/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7350
Epoch 79/80
804/804 [==============================] - 2s 3ms/step - loss: 0.5406 - accuracy: 0.7355
Epoch 80/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7354

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [96]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5514 - accuracy: 0.7306 - 312ms/epoch - 1ms/step
Loss: 0.5514358878135681, Accuracy: 0.7306122183799744

In [97]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5591 - accuracy: 0.7310 - 417ms/epoch - 2ms/step
Loss: 0.5590519309043884, Accuracy: 0.7309620976448059

In [98]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)


# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.6160 - accuracy: 0.7306 - 415ms/epoch - 2ms/step
Loss: 0.616019070148468, Accuracy: 0.7306122183799744

In [99]:
print("Alternative Model 3 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A3.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 3 Results
268/268 - 0s - loss: 0.5601 - accuracy: 0.7282 - 392ms/epoch - 1ms/step
Loss: 0.5600702166557312, Accuracy: 0.7281632423400879

### Step 3: Save each of your alternative models as an HDF5 file.

In [100]:
# Set the file path for the first alternative model
file_path = ("Resources/alternative1.h5")

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [101]:
# Set the file path for the second alternative model
file_path = ("Resources/alternative2.h5")

# Export your model to a HDF5 file
nn_A2.save(file_path)

In [102]:
# Set the file path for the third alternative model
file_path = ("Resources/alternative3.h5")

# Export your model to a HDF5 file
nn_A3.save(file_path)